# ddrf env 기반 위에 추가적으로 설치할 library
# torchmetrics==0.10.3

beartype
black
colorama
colorspacious
dacite
e3nn
einops
hydra-core
jaxtyping
lpips
moviepy==1.0.3
plyfile
pytorch_lightning==1.7.7
ruff
sk-video
svg.py
tabulate
timm
wandb



